<h1>Portfolio Items</h1>

<% @portfolio_items.each do |items| %>
<p><%= items.title %></p>
<p><%= items.subtitle %></p>
<p><%= items.body %></p>
<%= image_tag items.thumb_image %>
<%= image_tag items.main_image %>
<% end %>